:root {
    --background-color: #F7EDDD;
    --text-color: #000;
}

@font-face {
    font-family: "SuisseIntl-Regular";
    src: url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot");
    src: url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/88f10bf18a36407ef36bf30bc25a3618.svg#SuisseIntl-Regular")format("svg");
}


body, html {
    height: 100%;
    margin: 0;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;    /* vertical centering */
    background: var(--background-color);
}

.content {
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 75px;
    margin-right: 50px;
}

.content svg {
    width: 100px;
    height: 100%;
}

.logo-text {
    font-family: "SuisseIntl-Regular", sans-serif;
    font-size: 4.2rem;
    color: var(--text-color);
    letter-spacing: -2px;
}